fastapi 
uvicorn 
python-multipart 
python-jose 
passlib 
mysql-connector-python 
google-generativeai 
pinecone 
cohere 
google-auth 
google-cloud-storage
google-api-python-client 
sqlalchemy 
alembic 
pydantic 
python-dotenv 
aiofiles
PyJWT
bcrypt